
.map {
  height: 100vh;
}

.formulaire{
  z-index: 9999;
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 300px;
}

img{
  width: 100%;
  height: auto;
}

.closeBtn{
  width:30px;
  height: auto;
  padding: 0px !important;
  margin-left: 130px;
  z-index: 9999;
}
